$title-font:'Great Vibes', cursive;
$nav-font: bold 'PT Serif', serif;
$subtitle-font: normal 'PT Serif', serif;
$parrafo-font: normal 'Roboto Slab', serif;
$footer-fond: bold 'Roboto Slab', serif;